﻿/*main style heet for the website*/
body {
    width: 100%;
    background-image: url("dragon_background.jpg");
    /*Image not royalty free. Taken from: https://www.google.com/search?tbs=simg:CAQSgwIJRTM8kGVrD88a9wELELCMpwgaOgo4CAQSFMwfyT2KFrYgrR6pPZAp1SDCNY42GhrmjQGyOJiHSqsCls3h5-QK9cmUXpYUps3BWiAFMAQMCxCOrv4IGgoKCAgBEgQxUkQhDAsQne3BCRqXAQoYCgZkcmFnb27apYj2AwoKCC9tLzAyY3A1Ch0KCmNnIGFydHdvcmvapYj2AwsKCS9tLzAydHgxawoXCgVkZW1vbtqliPYDCgoIL20vMDI5bTgKGQoHZmljdGlvbtqliPYDCgoIL20vMDJ4bGYKKAoVYWN0aW9uLWFkdmVudHVyZSBnYW1l2qWI9gMLCgkvbS8wMm50ZmoM&sxsrf=ALeKk02IB53FxL1We0c3IUV6jHUg28Ym-Q:1619640054636&q=rise+of+tiamat&tbm=isch&sa=X&ved=2ahUKEwib9fqw3aHwAhXtURUIHe7rA-kQwg4oAHoECAEQMg&biw=1377&bih=659#imgrc=TbALP9hg9-poBM */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #801336;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: "header" "section " "footer";
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: "logo nav nav";
}

header > p{
    color: white;
}

nav {
    grid-area: nav;
}

#logo {
    grid-area: logo;
}

section {
    grid-area: section;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "article1 article1 article2";
    height: 600px;
}

footer {
    grid-area: footer;
    color: white;
}


/*Article classes*/

article.homecarosel {
    grid-area: article1;
    margin: 5px;
    height: 70%;
}


article.overflowbox {
    grid-area: article1;
    background-color: #801336;
    margin: 5px;
    overflow: auto;
    border: 5px solid #2d132c;
    padding: 10px;
}

    article.overflowbox > p {
        color: white;
    }

    article.overflowbox > input {
        border: 2px solid white;
    }

    article.overflowbox > form {
        color: white;
    }

    article.overflowbox > table, th, td, tr{
        border: 2px solid white;
        color: white;
        border-collapse: collapse;
    }

    article.overflowbox > b{
        color: white;

    }

    article.overflowbox > a {
        color: white;
    }

    article.overflowbox > h1 {
        color: white;
        font-size: 25px;
    }
    
    article.overflowbox > h3 {
        color: white;
    }

    article.overflowbox > img {
        border-radius: 8px;
    }


article.downloadrules {
    grid-area: article2;
    overflow: hidden;
}


article.leaderboards2 {
    grid-area: article2;
    padding: 10px;
}


article.profile2 {
    grid-area: article2;
    margin: 5px;
    padding: 10px;
}

p{
    font-size: 19px;
}


h1 {
    color: white;
}

h3{
    color: white;
}



.active-header {
    color: green;
}

button {
    display: inline-block;
    padding: 10px 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    color: #ee4540;
    background-color: #2d132c;
    margin: 10px 25px;
    border: solid;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 5px 10px #000000;
}

    button:hover {
        background-color: #641621
    }

    button:active {
        background-color: #641621;
        box-shadow: 5px 10px #000000;
        transform: translateY(4px);
    }

.login-button {
    display: grid;
}

.active-login-button {
    background-color: green;
}


.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.dropbtn {
    background-color: #2d132c;
    color: #ee4540;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #641621;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #ee4540;
    }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #641621;
}



